.header {
   color: #000;
   position: relative;
   @include screen-size(14px);

   .search-area {
      max-width: 500px;
      min-width: 150px;
      width: 100%;
      padding: 0 20px;
      &-wrapper{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .input {
        color: #fff;
      }
      input :focus {

      }
      // border: 2px solid #000;
   }

   .nav-area {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 300px;

      .create-button {
            background-color: #fff;
            border-radius: 10px;
            color: #000;
            cursor: pointer;
            &:hover {
               box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
            }
            &:active {
               position: relative;
               top: 1px;
            }
      
            .body {
               padding: 7px 10px 7px 7px;
               width: 100%;
               display: flex;
               align-items: center;
               justify-content: space-between;
      
               .icon {}
      
               .text {
                  position: relative;
                  bottom: 2px;
                  @include screen-size(0px);
               }
            }
         }

         .login-area {

         }
   }

   .invisible {
      @media screen and (max-width: 800px) {
        display: none;
      }
   } 

   .drawer {
   }
   
   .login-area {
      button {
        @include screen-size(18px);
      }
      .user-info {
        display: flex;
        align-items: center;
        .username {
          padding: 0 20px;
        }
        .avatar {
          padding: 0;
          width: 60px;
          border-radius: 10px;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
      }
      .modal-wrapper {
          
      }
   }
}

.login-tab-panels {
  min-height: 530px ;
  display: flex;
  flex-direction: column;
  .login-field {
    // border: 2px solid silver;
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 2px solid silver;
    min-width: 400px;
    .input-field {
      min-width: 300px;
      min-height: 110px;
      // border: 2px solid silver;
    }
    
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}