.header {
   background-color: #faf;
   color: #000;
   position: relative;

   .search-area {
      &-wrapper{
         width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
      }
      .input {
         color: #fff;
      }
      // border: 2px solid #000;
      width: 500px;
   }

   .nav-area {
      display: flex;
      justify-content: space-between;
      width: 300px;

      .create-button {
            background-color: #fff;
            border-radius: 10px;
            color: #000;
            cursor: pointer;
            &:hover {
               box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
            }
            &:active {
               position: relative;
               top: 1px;
            }
      
            .body {
               padding: 7px 10px 7px 7px;
               width: 110px;
               display: flex;
               align-items: center;
               justify-content: space-between;
      
               .icon {}
      
               .text {
                  position: relative;
                  bottom: 2px;
               }
            }
         }

         .login-area {

         }
   }

   .drawer {
      .list {
         border: 2px solid #000;
         &-item {
            padding: 0 50px;
            border: 2px solid #000;
         }
      }
   }
   
   .login-area {
      .modal-wrapper {
         .login-tab-panels {
            margin: 0px 0px 30px 0px;
            border: 2px solid silver;
         }
      }
   }
}